@include border-box-sizing;

html {
    font-size: $base-font-size;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, fieldset {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

img {
    display: block;
}

fieldset {
    border: none;
}

input, textarea, select, button {
    outline: none;
}
