@include border-box-sizing;

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-size: $base-font-size;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, fieldset {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

img {
    display: block;
}

hr {
    margin: 0;
}

a, button, fieldset, input, label {
    border: none;
    outline: none;
}

input, textarea {
    -webkit-appearance: none;
    border-radius: 0;
}
